@{
    ViewData["Title"] = "Inicio";
    var nombreUsuario = ViewBag.NombreUsuario as string;
    var rol = ViewBag.Rol as string;
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>
        Aprende más sobre <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.
    </p>
</div>
