@model Prolimza.Models.Rol

@{
    ViewData["Title"] = "Create";
}

<style>
    .form {
        background-color: #34974d !important;
        display: block;
        padding: 1rem;
        max-width: 350px;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        margin: auto;
    }

    .form-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
        text-align: center;
        color: #000;
    }

    .input-container {
        position: relative;
    }

        .input-container input,
        .form button {
            outline: none;
            border: 1px solid #e5e7eb;
            margin: 8px 0;
        }

        .input-container input {
            background-color: #fff;
            padding: 1rem;
            padding-right: 3rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            width: 300px;
            border-radius: 0.5rem;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }

    .submit {
        display: block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        background-color: #325935;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        width: 100%;
        border-radius: 0.5rem;
        text-transform: uppercase;
        border: none;
    }

    .signup-link {
        color: #97BF7A;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: center;
    }

        .signup-link a {
            text-decoration: underline;
        }

    .text-danger {
        font-size: 0.75rem;
        color: red;
    }
</style>

<!-- Formulario Create con el nuevo estilo -->
<form asp-action="Create" class="form mt-5">
    <p class="form-title">Registrar nuevo rol</p>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="input-container">
        <input asp-for="Nombre" placeholder="Nombre del rol" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="input-container">
        <input asp-for="Descripcion" placeholder="Descripción" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <button type="submit" class="submit">Crear</button>

    <p class="signup-link" style="color:#97BF7A !important">
        <a asp-action="Index">← Volver a la lista</a>
    </p>


</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
